header.jumbotron
  height: 315px
  background: #000 url("/images/headers/hgcb-crowd.jpg") top center no-repeat

header.triptychleft
  height: 100px
  background: #000 url("/images/triptych/HGCB.jpg") top left no-repeat

header.triptychcenter
  height: 100px
  background: #000 url("/images/triptych/Funds.jpg") top center no-repeat

header.triptychright
  height: 100px
  background: #000 url("/images/triptych/Join.jpg") top right no-repeat

.sidebar
  +column(8)

.main
  +column(16, true)