header.jumbotron
  height: 315px
  background: #000 url("/images/headers/hgcb-crowd.jpg") top center no-repeat

// .triptych1
//  +column(8)

//.triptych2
//  +column(8, true)

//.triptych3
//  +column(8, true)

.sidebar
  +column(8)

.main
  +column(16, true)

triptych
  +clearfix
  clear: both

  ul
    +clearfix
    padding: 0
    margin: 0
    list-style: none

    li
      +column(8)

      &:last-child
        +column(8, true)