:markdown
  - [Support Public Glass](/about#toc_3)
  - [All Classes](http://clients.mindbodyonline.com/ws.asp?studioid=33642&stype=-7)
  - [Book Rentals](http://clients.mindbodyonline.com/ws.asp?studioid=33642&stype=-9)
  - [Gift Certificates](/classes#toc_7)
  - [Team Building](/classes#toc_8)

http://www.twitter.com/publicglass
http://www.facebook.com/publicglass
http://www.yelp.com/biz/public-glass-san-francisco

%p= "Copyright © #{Time.now.year} Public Glass."
