%header.jumbotron

.upcoming-events
  :markdown
    ## Upcoming Events

    - Hot Glass Cold Beer: Featuring Granite Calimpong, April 27 @ 6pm
    - Hot Glass Cold Beer: Featuring Krista Sulfaro & Catarina Urrata, May 18 @ 6pm
    - Future **Hot Glass Cold Beer** nights: June 29, July 27, August 24

    [View full events calendar...](/calendar)

    ## Featured Class

    - **Goblet Boot Camp with Erik Eiserling** · Thursdays, April 4 - April 25 · Students in this four week class will explore the process of making a simple goblet, starting with a proper gather. Teamwork and technical exercises will be emphasized as we consider the setup of each component to the final piece... [Read More & Register!](http://clients.mindbodyonline.com/ws.asp?studioid=33642&stype=-7&sTG=16&sVT=23&sLevel=6&sView=day&sDate=4/4/2013)

.news
  :markdown
    ## News

    Public Glass would like to thank [Travis Sandoval](http://travissandovalstudio.com/) and his glassblowing team for a fun and successful Hot Glass Cold Beer! Thanks also to Jeff Rogers and Aaron Vigil for their awesome flame working demos, [Dustin Saylor](http://www.dustinsaylor.net/fr_home.cfm) for the great tunes, [Radio Africa & Kitchen](http://www.radioafricakitchen.com/) for their delicious food, and [Drake's Brewing](http://www.drinkdrakes.com/) for their beer donation! 
 
    We are still working toward our goal of raising $5000 for our Light a Spark program, to offer the glassblowing experience to underserved youth in our community. If you were unable to attend our last fundraising event and would like to contribute toward bringing a unique creative experience to a young person who would not have the opportunity otherwise, [please give what you can as a tax deductible donation](https://www.networkforgood.org/donation/MakeDonation.aspx?ORGID2=943253918&vlrStratCode=HvqfFy2sp40gpxt2AIpqCzpuQuFA5jIPZnlYD%2ff6VwxTqydaQU1Bq1kUDAStx7rq).

    We're adding new classes every week, for those who are new to glass as well as those looking to take things to the next level. Take a look at our [class roster](http://clients.mindbodyonline.com/ws.asp?studioid=33642&stype=-7) for the latest information.

    [Read more...](http://conta.cc/ZKtnGL) • [Sign up for the latest news via email.](http://visitor.r20.constantcontact.com/d.jsp?llr=jpfjsicab&p=oi&m=1101946721769)