%header.jumbotron

.upcoming-events
  :markdown
    ## Upcoming Events

    - [Hot Glass Cold Beer: Featuring Andrej Larson, January 26th @ 6pm](http://www.facebook.com/events/469312809798962/)
    - Open Studio Day with Karen Willenbrink-Johnsen & Jasen Johnsen, February 22th @ 11am
    - Hot Glass Cold Beer: Featuring Karen Willenbrink-Johnsen, Febraury 23th @ 6pm

.news
  :markdown
    ## News

    Happy New Year! We're rebuilding, updating and polishing the studio to a shine for our reopening on January 10th, and we're very excited about some of the things we already have lined up for 2013. Take a look at our [class roster](http://clients.mindbodyonline.com/ws.asp?studioid=33642&stype=-7) — and a new system that will make it easier than ever to enroll — and clear your calendar for our upcoming Hot Glass Cold Beer season.

    In February we'll be welcoming master sculptors Karen Willenbrink-Johnsen and Jasen Johnsen into the studio for a three day sculpting intensive, an open studios day and a Hot Glass Cold Beer, to boot!

    [Read more...](http://conta.cc/11zlQg4) • [Sign up for the latest news via email.](http://visitor.r20.constantcontact.com/d.jsp?llr=jpfjsicab&p=oi&m=1101946721769)