%header.jumbotron
%header.triptychleft
%header.triptychcenter
%header.triptychright

.sidebar
  :markdown
    ### Featured Classes

    - **Summer Teen Camps** · All summer, starting June 10 · The hottest and coolest way to spend a week this summer... [Read More & Register](http://clients.mindbodyonline.com/ws.asp?studioid=33642&stype=-7&sTG=16&sLevel=9&sView=day)

    ### Upcoming Events

    - **[Hot Glass Cold Beer](http://www.facebook.com/events/176911679138411/)** · June 29, 6–10pm
    - **[Palo Alto Clay & Glass Festival](http://www.acga.net/cgi-bin/DJcalendar.cgi?TEMPLATE=shows-detail.html&EVENTNO=00076)** July 13–14, 10am–5pm · Public Glass will be selling select glassware to benefit our new youth program, ***[Light a Spark](/classes/#toc_9)***. We hope to see you there!
    - Save the dates for future Hot Glass Cold Beer events: July 27, August 24, September 27.

    ### Also in the Bayview Community

    - **[Sunday Streets in the Bayview / Dogpatch]( https://www.facebook.com/events/174179486071217/)** · June 9, 11am–4pm.
    - **[The Business of Art Workshop](http://glancinfo.org/business-of-art.html)** · Saturday, June 15, 10am–1:30pm.
    - **[Urban Farm Girls Open Studio](http://www.urbanfarmgirls.com/)** · Saturday, June 22, 1pm–5pm.

.main
  :markdown
    ### News

    We would like to thank everyone who has supported **Public Glass** in our mission of providing access and information about the creative potential and magic that is glass.

    It is my belief that our mission is best accomplished in collaboration with those who share a desire to create positive change, and so in just the past year we’ve reached into our local community like never before. Through strategic partnerships with the [Third Street Youth Center](http://www.3rdstyouth.org/), [Urban Farmgirls](http://www.urbanfarmgirls.com/), [Radio Africa Kitchen](http://www.radioafricakitchen.com/), [College Track](http://www.collegetrack.org/main/), [Auntie April’s Kitchen](http://www.auntieaprils.com/) and ]Old Skool Cafe](http://www.oldskoolcafe.org/), our hope is help unlock the limitless potential that is right here within the Bayview neighborhood.

    We are so proud to have just launched our new youth program, ***[Light a Spark](/classes/#toc_9)***, which has begun teaching local youth how to work together to express themselves through glass. Public Glass wants to remind the community how important it is to make things of quality here locally, and to inspire a new and diverse generation of artists and makers.  

    For the month of June we are reaching out to each and everyone who has admired glass, as well as those who believe in the impact that arts and education can have within a community. **We need your help today in the form of donations big and small, to keep Public Glass open and making a difference.** [Please consider supporting the great work that we’ve started and strive to continue.](https://www.networkforgood.org/donation/MakeDonation.aspx?ORGID2=943253918&vlrStratCode=SRcMjxX%2bEkJ2VLPQWWdKPOJ7VYaW2CZbgzRwj52jfL3H%2bURQlB3PoVb9r6PI5J%2bw)

    Thank you so very much for all of your support.

    Nate Watson
    Executive Director, Public Glass