%header.jumbotron

.upcoming-events
  :markdown
    ## Upcoming Events

    - Hot Glass Cold Beer: Featuring Granite Calimpong, April 27 @ 6pm
    - Hot Glass Cold Beer: Featuring Krista Sulfaro & Katarina Urrata, May @ 6pm
    - Future **Hot Glass Cold Beer** nights: June 29, July 27, August 24

    [View full events calendar...](/calendar)

.news
  :markdown
    ## News

    All of us at Public Glass would like to extend a special thank you to Karen Willenbrink-Johnsen, Jasen Johnsen, their entire crew, Stone Brewing Co., and everyone who came out to our last Hot Glass Cold Beer in support of our new youth program, Light a Spark. We are so excited to offer a five week glassworking experience to nine under-served youth from our community. Glassblowing isn't simply about making objects, it's about learning to communicate ideas, executing plans in collaboration with others, and having the patience to work through a difficult process. We are still in need of donations to reach our goal of $5000 in order to make a real difference. We greatly appreciate your support.

    If you were unable to attend our last fundraising event and would like to contribute toward bringing a unique creative experience to a young person who would not have the opportunity otherwise, [please give what you can as a tax deductible donation](https://www.networkforgood.org/donation/MakeDonation.aspx?ORGID2=943253918&vlrStratCode=HvqfFy2sp40gpxt2AIpqCzpuQuFA5jIPZnlYD%2ff6VwxTqydaQU1Bq1kUDAStx7rq).

    We're adding new classes every week, for those who are new to glass as well as those looking to take things to the next level. Take a look at our [class roster](http://clients.mindbodyonline.com/ws.asp?studioid=33642&stype=-7) for the latest information.

    [Read more...](http://conta.cc/ZKtnGL) • [Sign up for the latest news via email.](http://visitor.r20.constantcontact.com/d.jsp?llr=jpfjsicab&p=oi&m=1101946721769)