%header.jumbotron

.upcoming-events
  :markdown
    #### Upcoming Events

    - [Hot Glass Cold Beer: Featuring TBA, June 29 @ 5pm]
    - Future **Hot Glass Cold Beer** nights: July 27, August 24

    [View full events calendar...](/calendar)

    #### Featured Classes

    - **Summer Teen Camps** · All summer, starting June 10 · The hottest and coolest way to spend a week this summer... [Read More & Register](http://clients.mindbodyonline.com/ws.asp?studioid=33642&stype=-7&sTG=16&sLevel=9&sView=day)

    #### Also in the Bayview Community

   - **Sunday Streets in the Bayview/Dogpatch** · June 9, 11am–4pm. Sunday Streets are events that encourage recreation, community activities and fun in San Francisco. Non-profit and health organizations offer free activities and share information about their services during the event. [Details here]( https://www.facebook.com/events/174179486071217/).
    - **The Business of Art Workshop** · Saturday, June 15, 10am–1:30pm. Hosted by GLANC and taught by accomplished artist Jamie Brunson, this workshop will review all the different ways that artists can exhibit, sell, and promote their work. Details and online registration on the [GLANC website](http://glancinfo.org/business-of-art.html).

.news
  :markdown
    ## News

    Public Glass is pleased to welcome Caterina Urrata & Krista Sulfaro as our artists in residence from May 11 through May 18! [Hot Glass Cold Beer](https://www.facebook.com/events/447543552003205/) will kick off early on Saturday, May 18th at a special time of 5pm for a gallery opening with the artists. They will be combining their creative talents and working together to create a dynamic & exciting site-specific installation using mixed-media and objects made here at Public Glass. The show will be open to the public through June 15 during normal gallery hours. HGCB will also feature music by [John Vicino](http://www.jvicino.com/), flame working demonstrations by Jeff Rogers, and local food brought to you by [Old Skool Cafe](http://www.oldskoolcafe.org/).

    **Third Thursdays** · May 16 6-7:30pm · Check out the gallery installation in progress, and meet and mingle with our local community! Third Thursdays is organized by 3rd Street Neighbors with the goal of having fun while connecting Bayview Hunter's Point residents, homeowners, businesses, musicians, crafters and artists who live, work and play here. [RSVP here](http://thirdstreetneighbors.eventbrite.com/).

    Our Light a Spark youth program is gaining momentum! We recently had the pleasure of hosting a group of students from several 3rd Street youth organizations for a round of solid sculpted paperweights and fused tiles. We still need your support to continue to bring this unique and creative experience to a young person who would not have the opportunity otherwise, so [please give what you can as a tax deductible donation](https://www.networkforgood.org/donation/MakeDonation.aspx?ORGID2=943253918&vlrStratCode=HvqfFy2sp40gpxt2AIpqCzpuQuFA5jIPZnlYD%2ff6VwxTqydaQU1Bq1kUDAStx7rq).

    We're adding new classes every week, for those who are new to glass as well as those looking to take things to the next level. Take a look at our [class roster](http://clients.mindbodyonline.com/ws.asp?studioid=33642&stype=-7) for the latest information.

    [Read more...](http://conta.cc/15RcKOJ) • [Sign up for the latest news via email.](http://visitor.r20.constantcontact.com/d.jsp?llr=jpfjsicab&p=oi&m=1101946721769)

